html, body {
  height:100%;
  font-family: 'Lato', sans-serif;
  color: #fefefe;
  font-weight: 300;
  background: url(/images/bg2.jpg) center center no-repeat;
  background-size: cover;
}

h1 {
  font-size:100px;
  text-align: right;
}

h2 {
  font-size:50px;
}

h1, h2 {
  font-weight: 300;
  margin: 0;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top: 7%;
}

/* signature */
.sig {
  text-align: center;
  font-size: 14px;
}

.btn-toolbar{
}​

.btn, .buttons .btn {
  background: transparent !important;
  background-color: transparent !important;
  border: none;
  font-weight: 300;
}

.btn .fa, .buttons .btn {
  font-size: 23px;
}

.buttons {
  text-align: left;
  margin-top: 20px;
}

.btn:hover {
  color: #3498db;
}

.buttons .btn:hover {
  color: #999;
}

.btn:focus {
  outline: none;
  border: none;
  color: #555;
}